# Compiled class file
*.class

# Log files
*.log
hs_err_*.log
replay_*.log

# BlueJ files
*.ctxt

# Temp / misc
.mtj.tmp/
*.DS_Store

# Archives (optional)
*.zip
*.tar.gz
*.rar

# Gradle
.gradle/
build/
out/
classes/

# Fabric run directory
run/

# IDEs
# Eclipse
*.launch
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.settings/
bin/

# Local config
local.properties